### Basics of Python

Fill valid code/values in place of blanks.

# Demo
# initialize variable 'msg' with the string 'Hello World'
msg = "Hello world"

# Solution
msg = "Hello World"

In [1]:
# initialize variables 'a' and 'b' with 5 and 6 respectively
a = 5 
b = 6

# add 'a' and 'b' and assign the result into a new variable 'c'
c = a+b
print(c)

11

In [2]:
# build a function to add 2 numbers
def addition(x,y):
    return(x+y)

# use the function 'addition' to add 'a' and 'b'
addition(a,b)

11

In [3]:
# create a list consisting of first 5 even numbers and print the list
my_list = [2,4,6,8,10]
print(my_list)

[2, 4, 6, 8, 10]

In [4]:
# access the 3rd element of the list 'my_list'
my_list[2]

6

In [5]:
# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'
my_dict = {'name':'Smith',
           'age':34,
           'gender': 'Male',
           'is_employed': False}

# print 'my_dict'
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': False}

In [6]:
# access value under 'name' key from 'my_dict'
my_dict['name']

'Smith'

In [7]:
# update 'is_employed' key to True
my_dict.update({'is_employed': True})

# print the updated dictionary
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': True}

In [12]:
# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20
for i in range(1,21,1):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Please download the file "data_python.csv".

In [14]:
# import required libraries
import pandas as pd
import numpy as np

In [20]:
## read data_python.csv using pandas
mydata = pd.read_csv("data_python.csv")
mydata.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [17]:
## print the number of rows and number of columns of mydata
mydata.shape

(614, 13)

In [21]:
## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe
target = mydata['Loan_Status']

In [25]:
## print the datatype of ApplicantIncome feature
print(mydata['ApplicantIncome'].dtype)

int64

In [26]:
## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'
if(mydata['Education'][20] == 'Graduate'):
    print("Yes")
else:
    print("No")

No

In [27]:
## print 31st to 35th rows of mydata
print(mydata.iloc[31:36])

     Loan_ID Gender Married Dependents Education Self_Employed  \
31  LP001095   Male      No          0  Graduate            No
32  LP001097   Male      No          1  Graduate           Yes
33  LP001098   Male     Yes          0  Graduate            No
34  LP001100   Male      No         3+  Graduate            No
35  LP001106   Male     Yes          0  Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
31             3167                0.0        74.0             360.0
32             4692                0.0       106.0             360.0
33             3500             1667.0       114.0             360.0
34            12500             3000.0       320.0             360.0
35             2275             2067.0         NaN             360.0

    Credit_History Property_Area Loan_Status
31             1.0         Urban           N
32             1.0         Rural           N
33             1.0     Semiurban           Y
34             1.0         Rural           N
35             1.0         Urban           Y

In [28]:
## print first 5 rows of 2nd and 3rd column only
print(mydata.iloc[:6, 2:4])

  Married Dependents
0      No          0
1     Yes          1
2     Yes          0
3     Yes          0
4      No          0
5     Yes          2